# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Downloaded models
whisper_models/*
!whisper_models/.gitkeep

# VS Code
.vscode/
*.code-workspace

# Operating System
.DS_Store
Thumbs.db

# FFmpeg executable
ffmpeg/ffmpeg2.exe
